{{/* 
	Print a form using passed parameter as data/forms/{filename}
	
	@author The New Dynamic
	
	@access private

	@context string 
*/}}
{{ with index site.Data.forms . }}
	{{ $netlify := true }}
	<form 
		action="{{ .action }}"
		method="POST"
		accept-charset="UTF-8"
		name="{{ .title | urlize }}"
		netlify
		{{ if not .captcha }}
			netlify-honeypot="{{ .title | sha1 }}"
		{{ end }}
		class="{{ site.Params.tnd_forms.css.form }}"
	>
		{{ with .fields }}
			{{ range . }}
				{{ partial "tnd-forms/input" . }}
			{{ else }}
			<p>
				We could not find any <code>.Site.Data.forms.{{ . }}</code>
			</p>
			{{ end }}
		{{ end }}
		{{ with .captcha }}
			<div data-netlify-recaptcha="true"></div>
		{{ else }}
		  	<p class="hidden">
		    	<label>Don’t fill this out if you're human: <input name="{{ .title | sha1 }}" /></label>
		  	</p>
		{{ end }}
		<button class="{{ site.Params.tnd_forms.css.submit }}" type="submit">
       		{{ default "Submit" .submit }}
      	</button>
	</form>
{{ else }}
<p>
	We could not find data for the form "{{ . }}"
</p>
{{ end }}
