{{/* 
	Print a form input group using the data passed as context,
	loads appropriate input's partial
	
	@author The New Dynamic
	
	@access private

	@context map [name (String), label (String), type (String), options (Slice), required (Bool)]
*/}}
{{ $type := default "text" .type }}
{{ $template := $type }}
{{ $classes := site.Params.tnd_forms.css }}
{{ $output_classes := $classes.control }}
{{ with .required }}
	{{ $output_classes = add $output_classes " " }}
	{{ $output_classes = add $output_classes $classes.require }}
{{ end }}
{{ with .hide }}
	{{ $output_classes = add $output_classes " " }}
	{{ $output_classes = add $output_classes $classes.hidden }}
{{ end }}
<div 
	class="{{ $output_classes }}"
	data-control-for="{{ .name }}"
>
	<label for="id-{{ .name }}" class="{{ $classes.label }}">
		{{ .label }} {{ with .required }} * {{ end }}
	</label>
	{{ if not (templates.Exists (printf "partials/tnd-forms/inputs/%s.html" $template)) }}
		{{ $template = "default" }}
	{{ end }}
	{{ partial (printf "tnd-forms/inputs/%s" $template) . }}
</div>