{{/* 
	Print a form input group using the data passed as context,
	loads appropriate input's partial
	
	@author The New Dynamic
	
	@access private


	@context Map 
						String (.name)
						String (.label)
						String (.type)
						Slice (.options)
						Bool (.required)
*/}}
{{ $type := default "text" .type }}
{{ $template := $type }}
{{ $config := partialCached "tnd-forms/private/GetConfig" . "tnd_forms_config" }}
{{ $classes := $config.css }}
{{ $output_classes := $classes.control }}
{{ with .required }}
	{{ $output_classes = add $output_classes " " }}
	{{ $output_classes = add $output_classes (default "" $classes.require) }}
{{ end }}
{{ with .hide }}
	{{ $output_classes = add $output_classes " " }}
	{{ $output_classes = add $output_classes $classes.hidden }}
{{ end }}
<div 
	class="{{ $output_classes }}"
	data-control-for="{{ .name }}"
>
	{{/* Some inputs types prints the label themselves */}}
	{{ if not (in (slice "single-checkbox" "hidden") $type) }}
		<label for="id-{{ .name }}" class="{{ $classes.label }}">
			{{ .label }} {{ with .required }} * {{ end }}
		</label>
	{{ end }}
	
	{{ if not (templates.Exists (printf "partials/tnd-forms/inputs/%s.html" $template)) }}
		{{ $template = "default" }}
	{{ end }}
	{{ partial (printf "tnd-forms/inputs/%s" $template) . }}
</div>